<%= provide :title, t("admin.languages.index.title") %>
<div id="languages">
  <div class="row padding-top-50">
    <div class="col-lg-12">
      <%= link_to new_admin_language_path do %>
        <%= button_tag t("admin.languages.index.btn_add_language"),
          class: "btn btn-primary box-shadow" %>
      <% end %>
    </div>
  </div>
  <div class="row padding-top-50">
    <div class="col-lg-12 book-form-search">
      <%= search_form_for @search, url: admin_languages_path do |f| %>
        <%= f.condition_fields do |condition| %>
          <div class="col-lg-3">
            <%= condition.attribute_fields do |attribute| %>
              <%= attribute.attribute_select %>
            <% end %>
          </div>
          <div class="col-lg-3">
            <%= condition.predicate_select %>
          </div>
          <div class="col-lg-3">
            <%= condition.value_fields do |value| %>
              <%= value.text_field :value %>
            <% end %>
          </div>
        <% end %>
        <div class="col-lg-3">
          <%= f.submit t("admin.search"),
            class: "btn btn-default books-btn-search" %>
        </div>
        <div class="col-lg-12 padding-0">
          <div class="col-lg-5 padding-0">
            <%= f.sort_fields do |sort| %>
              <%= sort.sort_select %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row padding-top-50">
    <div class="col-lg-12">
      <table class="table table-bordered book-table">
        <thead>
        <tr>
          <th class="width-5"><%= t ".numbers" %></th>
          <th class="width-10"><%= t ".language_name" %></th>
          <th class="width-10"><%= t ".created_at" %></th>
          <th class="width-10"><%= t ".edit" %></th>
          <th class="width-10"><%= t ".delete" %></th>
        </tr>
        </thead>
        <tbody>
        <% @languages.each_with_index do |language, index| %>
          <tr>
            <td><%= increase_one index %></td>
            <td><%= language.name %></td>
            <td><%= language.created_at
              .strftime(t "datetime_format.date_and_time") %></td>
            <td>
              <%= link_to edit_admin_language_path(language),
                class: "btn btn-info font-size-20" do %>
                  <span class="glyphicon glyphicon-edit"></span>
              <% end %>
            </td>
            <td>
              <%= link_to admin_language_path(language), method: :delete,
                data: {confirm: t(".confirm_delete")},
                class: "btn btn-danger font-size-20" do %>
                  <span class="glyphicon glyphicon-trash"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
