<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 toppad" >
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title center"><%= @user.name %></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center">
              <%= gravatar_for @user, {size: Settings.avatar.large_size} %>
            </div>
            <div class=" col-md-9 col-lg-9 ">
              <table class="table table-user-information">
                <tbody>
                <tr>
                  <td><%= t ".email" %></td>
                  <td><%= @user.email %></td>
                </tr>
                <tr>
                  <td><%= t ".created_date" %></td>
                  <td><%= @user.created_at
                    .strftime(t "datetime_format.date_and_time") %></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <%= mail_to @user.email, class: "btn btn-sm btn-primary" do %>
              <i class="glyphicon glyphicon-envelope"></i>
              <%= t ".send_mail" %>
          <% end %>
          <span class="pull-right">
            <% if @user.current_user? current_user %>
              <%= link_to edit_user_path(@user),
                class: "btn btn-sm btn-warning" do %>
                <i class="glyphicon glyphicon-edit"></i>
                  <%= t ".edit_button" %>
              <% end %>
            <% end %>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
