<div class="row">
  <div class="col-md-2 padding-2">
    <span class="book-item-price">
      <%= image_tag @book.cover_image_name,
        class: "book-item-information" %>
    </span>
  </div>
  <div class="col-md-10 book-item">
    <div class="col-lg-12 padding-2">
      <h4 class="margin-0 book-item-title">
        <%= @book.title %>
      </h4>
    </div>
    <div class="col-lg-12 padding-2">
      <span class="book-item-price">
        <%= @book.price %> d
      </span>
    </div>
    <div class="col-lg-12 padding-2">
      <span class="book-item-price">
        <%= @book.publish_date %>
      </span>
    </div>
    <div class="col-lg-12 padding-2">
      <input id="book-average-rating" type="number" class="rating-loading star-rating"
        value=<%= @book.average_rating %> >
    </div>
    <div class="col-lg-12 padding-2">
      <input type="text" class="rating-loading" id="book-rating" data-min="0"
        data-max="5" data-user-id="<%= current_user.id %>"
        data-book-id="<%= @book.id %>" data-step="0.5" value="<%= @book.user_books.current_user_rating(current_user.id).rating %>">
    </div>
    <div class="col-lg-12 padding-2">
      <%= link_to t("books.book_infomation.reviews"), user_book_path(@book) %>
    </div>
  </div>
</div>
<div class="tab-content">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#description" aria-controls="description"
        role ="tab" data-toggle="tab">
          <%= t "book.book_infomation.description" %>
      </a>
    </li>
    <li role="presentation">
      <a href="#review" aria-controls="review"
        role="tab" data-toggle="tab">
          <%= t "book.book_infomation.review" %>
      </a>
    </li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="description">
      <%= @book.description %>
    </div>
    <div role="tabpanel" class="tab-pane" id="review">
      <%= form_tag user_books_path(id: @book.id) do %>
        <li>
          <%= label_tag t("books.book_infomation.write_review") %><br>
          <%= label_tag t("books.book_infomation.name") %>
          <%= text_field_tag :name, params[:name], class: "form-control" %>
          <%= label_tag t("books.book_infomation.your_review") %>
          <%= text_area_tag :review, params[:review], class: "form-control" %>
          <%= submit_tag t("books.book_infomation.continue"), class: "btn btn-primary" %>
        </li>
      <% end %>
    </div>
  </div>
</div>
