<header>
  <div id="logo">
    <%= link_to root_path do %>
      <h1><%= t "title_short" %></h1>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <div id="menu">
      <ul>
        <li>
          <%= link_to (t "devise.header.users"), users_path %>
        </li>
        <li>
          <a href="#"><%= t "nav_example.e_books" %></a>
        </li>
        <li class="arrow_down">
          <a href="#"><%= t "nav_example.books" %></a>
        </li>
        <li>
          <a href="#"><%= t "nav_example.text_books" %></a>
        </li>
        <li>
          <a href="#"><%= t "nav_example.business" %></a>
        </li>
        <li>
          <a href="#"><%= t "nav_example.magazines" %></a>
        </li>
      </ul>
    </div>
  <% end %>
  <div id="login_wrapper">
    <% if user_signed_in? %>
      <a href="#" class="dropdown-toggle signin_signup"
        data-toggle="dropdown">
        <%= current_user.name %><b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to (t "devise.header.profile"), edit_user_registration_path %>
        </li>
        <li>
          <%= link_to (t "devise.header.sign_out"), destroy_user_session_path,
            method: :delete %>
        </li>
      </ul>
    <% else %>
      <%= link_to (t "devise.header.sign_in"),
        new_user_session_path,
        class: "signin_signup" %>
      <%= link_to (t "devise.header.sign_up"),
        new_user_registration_path,
        class: "signin_signup" %>
    <% end %>
  </div>
</header>
<div class="bg_bottom"></div>
